*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    /* overflow-x: hidden; */
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 110px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}


.navbar-title{
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-left: 15px;

}

.navbar-title>span{

    color:#FF42A5 ;
}



.navbar-right{
    display: flex;
    align-items: center;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navbar-right>ul{
    display: flex;
    list-style: none;
    margin-right: 10px;
}

.navbar-right>ul>li{
    margin: 0 10px;
}

.navbar-right>ul>li>a{
    text-decoration: none;
}

.navbar-follow-us{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 8px 12px; 
}

.navbar-follow-us>h5{
    margin: 0 15px;
    white-space: nowrap;
}

.follow-images{
    margin: 4px;
}



/* BANNER SECTION */


.banner{

    width: 100%;
    height: 700px;
    margin-top: 15px;
    
}

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.banner-left>h2{
    font-size: 45px;
    color: #0B0223;
    text-transform: uppercase;
}

.banner-left>h1{

    font-size: 85px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.btn-primary{
    margin-top: 20px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 15px 25px;
    align-items: flex-start;
    gap: 5px;
    border: 0;
    font-size: 20px;
    color: #FFF;
}

.banner-left>p{
    color: #534C64;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}




/* MAIN SECTION */




main{

    margin-top: 100px;

}

/* FUNNY VIDEOS SECTION */



.featured-content:hover{
    background-image: url(images/play-button.svg);
}

.featured-videos-container{
    margin: 125px 0;
    width: 100%;
}


.featured-content>img{
    width: 100%;
}


.featured-videos-title,.featured-videos-titletext{
    text-align: center;
}

.featured-videos-title{
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.featured-videos-title>span{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




.featured-videos{
    display: flex;
    place-content: center;
}

.featured-content{
    margin: 25px 20px;
    width: 100%;
}

.featured-videos-titletext{
    margin-top: 5px;
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}


.featured-content>p{
    text-align: left;
    margin-top: 15px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; 
}











/*  */

.feature-title>span{
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature-title{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    text-align: right;
}


.feature-container{
    margin: 120px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.feature-right{

    position: relative;

}

.feature-image{
    position: relative;
}


.main-img-01{
    top: 5rem; 
    left: 11.5rem; 
    z-index: 1;
}




.feature-left>p{

    margin-top: 15px;
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}






/* GAME TYPE CONTAINER */

.gametype-container{
    margin: 225px 50px;
}
.gametype-container>.gamedivisions{
    width: 100%;
    /* flex-shrink: 0; */
}

.gamedivisions{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: baseline;

}   




.gametypes{
    margin: 10px 10px;
    color: #0B0223;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    display: flex;
    width: 250px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    align-items: center;
    

}

.gametypes:hover{
        border: 2px solid #FF42A5;
        transition: 0.2s;
}

.gametypes>h6{
    margin: 0 10px;
    display: inline;
}




/* FOOTER */

footer{
    background: #0B0223;
    width: 100%;
    height: 600px;
    flex-shrink: 0;
}

.footer-title{
    display: flex;
    margin-top: 100px;
    place-content: center;
    padding-top: 120px;
    margin-bottom: 50px;

}




.footer-title>h1{
    color: #FFF;
    font-size: 35px;
    font-weight: 700;
    margin-left: 10px;
}

.footer-title>h1>span{

    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.footer-container{
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-choices{
    display: flex;
    place-content: center;
    text-align: center;
    gap: 50px;
}


.term-choices{
    place-content: center;
    margin-top: 100px;
    gap: 45px;
    display: flex;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.social-icons{
    place-content: center;
    margin-top: 100px;
}

.social-icons>img{
    margin: 0 20px;
}

.footer-caption{
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}



/* Media Query */

@media screen and (max-width: 767px) {
    
    .navbar-title {
      font-size: 24px;
    }
  
    .featured-videos-container {
      margin: 50px 0;
    }
  
    .banner-left>h2 {
      font-size: 32px;
    }
  
    .banner-left>h1 {
      font-size: 64px;
    }
  
    .btn-primary {
      font-size: 18px;
    }
  
    .featured-videos-title {
      font-size: 36px;
    }
  
    .featured-videos-title>span {
      font-size: 36px;
    }
  
    .featured-videos {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  
    .feature-title {
      font-size: 36px;
    }
  
    .featured-content>p {
      font-size: 18px;
    }
  
    .gametypes {
      width: 100%;
    }
  
    .gametypes>h6 {
      font-size: 16px;
    }
  
    .footer-title>h1 {
      font-size: 28px;
    }
  
    .footer-choices {
      gap: 30px;
      flex-wrap: wrap;
    }
  
    .term-choices {
      gap: 30px;
    }
  }
  
  
  
  
  
  
  